<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Horn">

    {% load i18n %}
    <title>Full Stack Hero | {% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
    <link href="{% static "css/basic.css" %}" rel="stylesheet" />
    <link href="{% static "icons/logo.png" %}" rel="icon" sizes="128x128" />

    {% block head-extra %}{% endblock %}
  </head>

  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="/">
        <img src="{% static "icons/logo.png" %}" alt="Logo" style="width:32px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% block navbar-items %}
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          {% endblock %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-success" href="{% url 'snippet:create' %}">{% trans 'New' %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{% url 'password' %}">{% trans 'Password' %}</a>
              <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout"%}</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block main %}
    <main>
      {% if messages %}
      <div class="container" style="position: absolute; z-index: 10; top: 100px; left: 50%; transform: translate(-50%, -50%);">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{% trans 'Success!' %}</strong>{{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="container">
      {% block content %}{% endblock %}
      </div>
    </main>
    {% endblock %}

    {% block footer %}
    <footer class="footer bg-dark ">
      <div class="px-3">
        <span class="text-muted">&copy; 2020 Full Stack Hero</span>
        <span class="text-muted float-right">{% now "Y-m-d H:i" %} - <a class="text-muted" href="#">{{ fsh.version }}</a></span>
      </div>
    </footer>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
