<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
    </div>
  </div>
  <div class="col-md-6">
    <h4>Snippets List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let snippet of snippets; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveSnippet(snippet, i)"
      >
        {{ snippet.title }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentSnippet">
      <h4>Snippet</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentSnippet.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentSnippet.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentSnippet.published ? "Published" : "Pending" }}
      </div>

      <a class="badge badge-warning" routerLink="/snippets/{{ currentSnippet.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentSnippet">
      <br />
      <p>Please click on a Snippet...</p>
    </div>
  </div>
</div>
