{% extends 'base.html' %}
{% load i18n %}
{% load pygmentify_tags %}
{% load humanize %}

{% block head-extra %}<link rel="stylesheet" href="{% pygmentify_css %}">{% endblock %}

{% block title %}{% trans 'Snippets' %}{% endblock %}

{% block content %}
<div class="container">
  <h1>{% trans 'Snippets' %}</h1>

  {% for snippet in object_list %}
  <div class="card mb-3">
    <h3 class="card-header">[{{snippet.language}}] {{snippet.title}}</h3>
    <div class="card-body">
      {% pygmentify %}
        {% spaceless %}
        <pre class="{{snippet.language}}">
        {{snippet.source}}
        </pre>
        {% endspaceless %}
      {% endpygmentify %}
    </div>
    <div class="card-footer">
      by <a href="#">{{snippet.user}}</a> at {{snippet.created_at|naturaltime}}
      <a href="{% url 'snippet:detail' pk=snippet.pk %}">{% trans 'more' %}</a>
      {{snippet.likes.all.count}} <a href="{% url 'snippet:like' pk=snippet.pk %}?next={{request.get_full_path}}">{% trans 'like' %}</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
