{% extends "rest_framework/base.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="NONE,NOARCHIVE" />
  <link href="{% static "icons/logo.png" %}" rel="icon" sizes="128x128" />
{% endblock %}

{% block userlinks %}
{% if user.is_authenticated %}
<p class="navbar-text navbar-right">{{ user }} - <a class="nav-link" href="{% url 'logout' %}?next={{request.get_full_path}}">{% trans 'Logout' %}</a></p>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}?next={{request.get_full_path}}">{% trans 'Login' %}</a>
</li>
{% endif %}
{% endblock %}
